{% load static %}
<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>

  </label>
    <div class="sidebar">
               <header>MARI BELAJAR MATEMATIKA</header>
               <ul>
                <li class="active">
                  <a href="/home"><i class='fas fa-home'>HOME</i></a></li>                
                  <li>
                    <a href="#"><i class='fas fa-book-open'>SISTEM KOORDINAT</i></a>
                    <ul>
                     <li><a href="/materi"><i class='fas fa-book-reader'>Materi</i></a></li>
                     <li><a href="/video"><i class='fas fa-chalkboard-teacher'>Video</i></a></li>
                    </ul> 
                  </li>
                <li>
                  <a href="#"><i class='fas fa-book-reader'>APPLICATION</i></a>
                  <ul>
                      <li><a href="/latihan"><i class='far fa-sticky-note'>Latihan</i></a></li>
                      <li><a href="/evaluasi"><i class='far fa-clipboard'>Evaluasi</i></a></li>
                      <li><a href="/aplikasi"><i class='far fa-file-alt'>Aplikasi</i></a></li>
                    </ul>
                  </li>
                <li>
                  <a href="/profile"><i class='fas fa-user-circle'>PROFILE</i></a></li>
              
               </ul>
 </div>
 
   <div id="content"></div>
   <hr>
   <h3>Latihan Menggambar Letak Benda pada Denah</h3>
   <hr>
   <img class="img-latihan denah" src="{% static 'img/latihan denah.png' %}" style="float:left; margin-right:7px;" width="45%" />
<p>Denah tersebut menunjukkan perjalanan Adam yang ingin pergi toko olahraga saat pulang sekolah. Bagaimana cara mengambar denah? Alat apa saja yang akan digunakan?<br>Dalam menggambar letak benda, sebaiknya kamu menggunakan skala. Skala adalah perbandingan antara ukuran jarak pada gambar dan jarak sebenarnya.</p>
<p>Perhatikan kembali denah letak keberadaan Adam yaitu di sekolah. Dalam mengambar denah, berikut langkah-langkahnya :</p>
<p>1.	Persiapkan alat-alat yang diperlukan<br>a) kertas <br>b) pensil<br>c) penggaris<br>
d) buku
<p>2.	Tentukan titik acuan. Ambil titik acuan yang sudah dikenal orang (familiar). Misalnya, rumah sakit, museum, dan bank.</p>
<p>3.	Menentukan arah (utara, selatan, barat, dan timur) pada bidang gambar</p>
<p>4.	Mulailah menggambar letak tempat yang dimaksud. Mudah, bukan?</p>

<hr>
<h3>Latihan Koordinat letak benda</h3>
<hr>
<p> <img class="img-benda koor" src="{% static 'img/letak benda koor.png' %}" style="float:initial; margin-right:7px;" width="45%"/></p>
<p>1.	Motor terletak di posisi (1, 7)</p>
<p>2.	Meja terletak di posisi (..., ...)</p>
<p>3.	Handphone terletak di posisi (..., 8)</p>
<p>4.	Laptop terletak di posisi (3, ...)</p>
<p>5.	.... terletak di posisi (4, 3)</p>
<p>6.	.... terletak di posisi (5, 5)</p>
<p>7.	.... terletak di posisi (6, 2)</p>
<p>8.	.... terletak di posisi (7, 4)</p>
<p>9.	Buku terletak di posisi (..., ...)</p>

<hr>
<h3>Latihan Koordinat letak tempat</h3>
<hr>
<p> <img class="img-benua asia" src="{% static 'img/benua asia.png' %}" style="float:initial; margin-right:7px;" width="45%"/></p>
<p> 1. India terletak pada koordinat (1, ...).</p>
<p> 2. Malaysia terletak pada koordinat (..., 5).</p>
<p> 3. Indonesia terletak pada koordinat (..., ...).</p>
<p> 4. ... terletak pada koordinat (6, 5)</p>
<p> 5. ... terletak pada koordinat (6, 9).</p>
<p> 6.  ... teletak pada koordinat (7, 1)</p>
<p> 7. Papua Nugini terletak pada koordinat (..., 3)</p>
    
<hr>
<h3>Latihan Koordinat Kartesius</h3>
<hr>
<img class="img-geogebra-export" src="{% static 'img/geogebra-export.png' %}" style="float:initial; margin-right:7px;" width="45%"/>
<p> 1)	Titik A terletak pada x = ..., y = ... sehingga koordinat titik A(..., ...).</p>
<p>  Titik B terletak pada x = ..., y = ... sehingga koordinat titik B(..., ...).</p>
<p>  Titik C terletak pada x = ..., y = ... sehingga koordinat titik C (..., ...).</p>
<p>  Titik D terletak pada x = ..., y = ... sehingga koordinat titik D(..., ...).</p>
<p>  Titik E terletak pada x = ..., y = ... sehingga koordinat titik E(..., ...).</p>
<p>  Titik F terletak pada x = ..., y = ... sehingga koordinat titik F(..., ...).</p>
<p>  Titik G terletak pada x = ..., y = ... sehingga koordinat titik G(..., ...).</p>
<p>  Titik H terletak pada x = ..., y = ... sehingga koordinat titik H(..., ...).</p>
<p> 2)	Pada buku berpetak, gambarlah bidang koordinat di bawah ini. Kemudian, tentukanlah letak titik-titik berikut.</p>
<p>a.	A(2, 1) 
    b.	B(3, 2)) 
    c.	C(0, –3) 
    d.	D(–4, 8)
    e.	E(5, 5)
    f.	F(6, 7)
    g.	 G(–7, –9) 
    h.	H(8, 8)
    i.	 I(9, 1)
    j.	 J(10, 3)
    k.	 K(5, 7) 
    </p>

 <hr>
 <h3>Latihan Menggambar Bangun Datar melalui Koordinat</h3>
 <hr>
 <p>1.	Gambarlah titik-titik A(–3, 2), B(2, 2), C(4, 5), dan D(–1, 5) pada bidang koordinat. Bangun apakah yang terbentuk?</p>
 <p>2. Diketahui koordinat titik L(1, –2), M(5, –2), dan N(2, –4). Jika kita ingin membentuk jajargenjang LMNO, tentukan koordinat titik O </p>
 <p>3.	Koordinat titik :</p>
 <p>  K (.., ...)</p>
 <p>  L (..., ...)</p>
 <p>  M(..., ...)</p>
 <p>  N(..., ...)</p>
 <img class="img-PUTIH" src="{% static 'img/PUTIH.PNG' %}" style="float:initial; margin-right:7px;" width="40%"/>
   </body>  
   </html>