{% load static %}

<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>

  </label>
    <div class="sidebar">
               <header>MARI BELAJAR MATEMATIKA</header>
               <ul>
                <li class="active">
                  <a href="/home"><i class='fas fa-home'>HOME</i></a></li>                
                  <li>
                    <a href="#"><i class='fas fa-book-open'>SISTEM KOORDINAT</i></a>
                    <ul>
                     <li><a href="/materi"><i class='fas fa-book-reader'>Materi</i></a></li>
                     <li><a href="/video"><i class='fas fa-chalkboard-teacher'>Video</i></a></li>
                    </ul> 
                  </li>
                <li>
                  <a href="#"><i class='fas fa-book-reader'>APPLICATION</i></a>
                  <ul>
                      <li><a href="/latihan"><i class='far fa-sticky-note'>Latihan</i></a></li>
                      <li><a href="/evaluasi"><i class='far fa-clipboard'>Evaluasi</i></a></li>
                      <li><a href="/aplikasi"><i class='far fa-file-alt'>Aplikasi</i></a></li>
                    </ul>
                  </li>
                <li>
                  <a href="/profile"><i class='fas fa-user-circle'>PROFILE</i></a></li>
              
               </ul>
 </div>
        <h1 align="center">Penulis</h1>
            <br> 
            <img class="img-saya" src="{% static 'img/saya.png' %}" style= "display:block; align-items:center; margin:auto;" width="15%"/>
            <p><br>Maulida Aslamiyah adalah mahasiswi dari perguruan tinggi Universitas Sultan Ageng Tirtayasa jurusan Pendidikan Matematika yang saat ini mengenyam pendidikan semester 2 dengan NIM 2225210028. Maulida kelahiran 2002 yang berasal dari Kota Cilegon dan merupakan alumni dari SDN Delingseng, MTsN 2 Cilegon, dan SMAN 5 Cilegon. Kesibukannya saat ini ialah menjalankan perkuliahan dan memenuhi tugas yang ada, serta berwirausaha di tempatnya dengan berjualan es gabus guna mengembangkan potensi dan kemandiriannya.
            <hr>
            <p><br>Bahan ajar ini disusun untuk kelas VI Sekolah Dasar/Madrasah Ibtida’iyah yang memuat uraian materi tentang sistem koordinat berikut dengan sub-sub materinya, yaitu : denah, koordinat letak benda, koordinat letak tempat, dan koordinat kartesius.  Bahan ajar ini bertujuan memberikan kemudahan-kemudahan dalam memahami masalah matematika yang menurut siswa/i sulit. Selain memuat uraian materi, buku ini juga memberikan tugas-tugas yang harus siswa/i kerjakan, rangkuman, dan evaluasi. Siswa/i diharapkan bisa menggunakan sistem koordinat dalam pemecahan masalah, menggambar letak benda pada denah, mengenal koordinat posisi suatu benda, dan menentukan posisi titik dalam sistem koordinat kartesius.
<br>Untuk memperoleh tujuan yang optimal dari bahan ajar ini, hendaknya siswa/i memperhatikan langkah-langkah berikut :
<br>1.	Bacalah tujuan kegiatan belajar terlebih dahulu
<br>2.	Cermati dengan seksama materi tiap bab
<br>3.	Kerjakan latihan dan evaluasi untuk menguji penguasaana materi
<br>4.	Pelajari kembali materi yang masih kurang dipahami dan ulangi latihan untuk mengasah penguasaan materi
<br>5.	Jika mengalami kesulitan siswa/i bisa menanyakan kepada orang tua atau guru
<br>Ayo, belajar matematika setiap hari supaya menjadi anak yang berguna bagi dirimu sendiri dan bangsa.
</p>
       
</body>