{% load static %}
<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>

  </label>
    <div class="sidebar">
               <header>MARI BELAJAR MATEMATIKA</header>
               <ul>
                <li class="active">
                  <a href="/home"><i class='fas fa-home'>HOME</i></a></li>                
                  <li>
                    <a href="#"><i class='fas fa-book-open'>SISTEM KOORDINAT</i></a>
                    <ul>
                     <li><a href="/materi"><i class='fas fa-book-reader'>Materi</i></a></li>
                     <li><a href="/video"><i class='fas fa-chalkboard-teacher'>Video</i></a></li>
                    </ul> 
                  </li>
                <li>
                  <a href="#"><i class='fas fa-book-reader'>APPLICATION</i></a>
                  <ul>
                      <li><a href="/latihan"><i class='far fa-sticky-note'>Latihan</i></a></li>
                      <li><a href="/evaluasi"><i class='far fa-clipboard'>Evaluasi</i></a></li>
                      <li><a href="/aplikasi"><i class='far fa-file-alt'>Aplikasi</i></a></li>
                    </ul>
                  </li>
                <li>
                  <a href="/profile"><i class='fas fa-user-circle'>PROFILE</i></a></li>
              
               </ul>
 </div>